# archives
*.7z
*.7zip
*.bz2
*.dmg
*.gpg
*.gz
*.gzip
*.iso
*.lzo
*.rar
*.tar
*.tgz
*.xz
*.zip
*.zst
*.zstd

# binary files
*.a
*.bin
*.d
*.dll
*.dylib
*.gch
*.la
*.lai
*.lib
*.lo
*.o
*.obj
*.pch
*.slo
*.so

# build artifacts
artifacts
build
.cache
cache
coverage
deps
dist
node_modules
out
package
target
tmp

# data files
*.csv
*.db
*.dbf
*.fods
*.json
*.ods
*.odt
*.ots
*.sqlite
*.tsv
*.uos
*.xls
*.xlsm
*.xlsx
*.xlt
*.xltx
*.xml

# editor files
.ccls-cache
.idea
*.sw?
*.vim
.vscode

# environment variable files
.env

# executables
*.apk
*.app
*.AppImage
*.com
*.deb
*.exe
*.jar
*.msi
*.out
*.rpm

# file explorer metadata
._*
*.DS_Store*
ehthumbs.db
lost+found
.Spotlight*
thumbs.db
Thumbs.db
thumbs.db:encryptable
thumbs.db_encryptable
.Trashes

# keys and certs
*.cer
*.crt
*.key
*.pem
*.pub

# logs
logs
*.log
*.log*
*.txt

# node
.cache
coverage
dist
.eslintcache
*.lcov
lib-cov
*.lock
.netlify
.next
node_modules
.node_repl_history
.npm
npm-debug.log*
.nuxt
.serverless
.svelte-kit
*.tsbuildinfo
typings
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
yarn-debug.log*
yarn-error.log*
.yarn-integrity

# python
__pycache__
.mypy_cache

# temporary files
*.bak
*.old
*.orig
*.test
*.tmp
